@import url(http://fonts.googleapis.com/css?family=Roboto:100,400);

/* reseting stuff */
* {
    margin: 0;
    padding: 0;
}

/* basic styles */
body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    font-size: 1em;
    padding: 10px;
    font-weight: 100;
}

@media only screen and (max-width: 1024px) { /*tablet*/
    body {
        padding: 0;
    }
}

/* general text styles */
body, a, a:link, a:visited, a:active {
    color: #d2d2d2;
    text-decoration: none;
}

/* links */
a {
    transition: color 200ms ease-in;
    -webkit-transition: color 200ms ease-in;
    -moz-transition: color 200ms ease-in;
    -ms-transition: color 200ms ease-in;
}
a:hover {
    color: #fff;
}

/* html files */
a[href$="html"],a[href$="htm"] {
    color: rgba(160,250,140,.9);
}
a[href$="html"]:hover,a[href$="htm"]:hover {
    color: rgba(160,250,140,1);
}

/* direcories */
a[href$="/"],a[href$="/"],a.link--breadcrumb {
    color: rgba(250,190,110,.9);
}
a[href$="/"]:hover,a[href$="/"]:hover,a.link--breadcrumb:hover {
    color: rgba(250,190,110,1);
}

/* header */
.header {
    z-index: 2;
    position: fixed;
    top: 0; left: 0; right: 0;
    min-height: 50px;
    background: rgba(45,45,45,1);
    background: #333;
    padding: 10px 10px 0;
    box-sizing: border-box;
    box-shadow: 0 0 20px #333;
}
@media only screen and (max-width : 400px) {
    .header {
        padding: 0.5em;
    }
}

.search--icon {
    position: absolute;
    top: 0.1em;
    right: 0;
    display: block;
    width: 1.5em; height: 1.5em;
    cursor: pointer;
}
.search--icon:after,
.search--icon:before {
    display: block;
    content: "";
    position: absolute;
}
.search--icon:after {
    top: 0; left: 0;
    width: 50%; height: 50%;
    border: 2px solid rgba(250,190,110,.9);
    border-radius: 100%;
}
.search--icon:before {
    top: 50%; left: 50%;
    width: 3px; height: 40%;
    background: rgba(250,190,110,.9);
    transform: translateX(50%) rotate(-35deg);
}

.search--label {
    position: absolute;
    top: 0.7em; right: 0.5em;
    display: block;
    width: 27%;
}
.search--label:hover .search--icon:after {
    border-color: #fff;
}
.search--label:hover .search--icon:before {
    background: #fff;
}


.search {
    box-sizing: border-box;
    background: rgba(45,45,45,1);
    background: #fff;
    border: none;
    padding: 0.6em;
    color: #fff;
    color: rgba(45,45,45,1);
    outline: none;
    border-radius: 4px;
    opacity: 0;
    width: 1.5em;
    transition: width 300ms ease-in-out, opacity 250ms ease-in-out;
    -webkit-transition: width 300ms ease-in-out, opacity 250ms ease-in-out;
    -moz-transition: width 300ms ease-in-out, opacity 250ms ease-in-out;
    -ms-transition: width 300ms ease-in-out, opacity 250ms ease-in-out;
}

.search:focus {
    opacity: 1;
    width: 110%;

    transition: width 300ms ease-in-out, opacity 100ms ease-in-out;
    -webkit-transition: width 300ms ease-in-out, opacity 100ms ease-in-out;
    -moz-transition: width 300ms ease-in-out, opacity 100ms ease-in-out;
    -ms-transition: width 300ms ease-in-out, opacity 100ms ease-in-out;
}

.search:focus + .search--icon {
    opacity: 0;
    z-index: 1;
}

.search--main {
    z-index: 2;
    position: absolute;
    top: 0; right: 0;
}



/* directory title */
.main-title {
    float: left;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 0.8em;
    width: calc(100% - 2em);
    position: relative;
    height: 1.2em;
}

.main-title--inner { /* makes sure the title is cut of to the left */
    position: absolute;
    display: block;
    top: 0; right: 0;
    min-width: 100%;
    white-space: nowrap;
}

/* wraps the table */
.wrap {
    margin-top: 50px; /* height of the fixed header */
}

/* table styles */
#indexlist { /* file table*/
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
}

#indexlist a {
    /* so the links are clickable on the full width of the cell */
    display: block;
}

#indexlist tr {
    /* since its the row is clickable (js) */
    cursor: pointer;
}

#indexlist tr.is-nomatch {
    display: none;
}

#indexlist tr td {
    padding: 0.5em 0.3em;

    transition: background 200ms ease-in;
    -webkit-transition: background 200ms ease-in;
    -moz-transition: background 200ms ease-in;
    -ms-transition: background 200ms ease-in;
    border-bottom: 1px solid rgba(255,255,255,.05);
}

#indexlist tr:hover td {
    background: rgba(45,45,45,1);
}

.indexcolicon, .indexcolsize  {
    width: 1px; /* makes the cell use the minimum space */
    white-space: nowrap;
}

/* changes the icons size*/
.indexcolicon img {
    width: 1.4em;
}

/* makes the sort links smaller */
.indexhead {
    font-size: .8em;
    text-align: left;
}

.indexhead th {
    border: solid rgba(255,255,255,.05);
    padding: .8em 0;
    border-width: 1px 0;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden; /* fixes overflow due to soring icons in header */
}

.indexhead th a:after {
    position: relative;
    display: inline-block;
    content: "‹›";
    font-size: 1.4em;
    line-height: 0.2;
    top: 0.1em;
    margin: 0 0 0 0.4em;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    opacity: .4;
}

.indexhead .indexcollastmod,
.indexhead .indexcolsize {
    opacity: 1;
    font-size: 1em;
}

.indexcollastmod, .indexcolsize {
    opacity: .4;
    font-size: 0.8em;
    transition: opacity 200ms ease-in;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -ms-transition: opacity 200ms ease-in;
}

#indexlist tr:hover .indexcollastmod,
#indexlist tr:hover .indexcolsize {
    opacity: 1;
}

/* styleing for specific file types */
.type--PARENTDIR {
    display: none;
}
.type--PARENTDIR:hover {
    opacity: 1;
}
.type--DIR .indexcolicon a {
    position: relative;
}
.type--DIR .indexcolicon a img.hover,
.type--DIR:hover .indexcolicon a img {
    display: none;
}
.type--DIR:hover .indexcolicon a img.hover {
    display: block;
}

/* footer */
.footer {
    padding: 1em 0 0;
    font-size: 0.7em;
}
